# Generated protoc files
openmodelica_python_gym/grpc/python_gym_pb2.py
openmodelica_python_gym/grpc/python_gym_pb2_grpc.py

openmodelica_python_gym/external_lib/grpc_interface/generated/python_gym.grpc.pb.cc
openmodelica_python_gym/external_lib/grpc_interface/generated/python_gym.grpc.pb.h
openmodelica_python_gym/external_lib/grpc_interface/generated/python_gym.pb.cc
openmodelica_python_gym/external_lib/grpc_interface/generated/python_gym.pb.h

# VSCode
.vscode/

# Clion
cmake-build-debug/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest